<form id="{{ formId }} class='{{ formClass }}">
    {{#if showAvatar}}
    <div class="avatar-container">
        <label for="avatar"></label>
        <input type='file' id='avatar' name='avatar'>
    </div>
    {{/if}}

    {{#if modalHeader}}
    <h1 class="modal_window__header">{{ modalHeader }}</h1>
    {{/if}}

    <div class='{{ inputsContainerClass }}'>
        {{#each fields}}
        <label for='{{ this.name }}'>{{ this.label }}</label>
        <input type='{{ this.type }}' id='{{ this.name }}' name='{{ this.name }}' value='{{ this.value }}'>
        {{/each}}
    </div>

    <button id='{{ buttonId }}' type='submit'>{{ buttonText }}</button>
</form>
