<div class="profile-container">
    <div class="avatar-container">
        <img class="avatar_img" src="../../../static/images/no_photo_icon.svg" alt="avatar">
    </div>

    <div class="list-info">
        <div class="line-info">
            <p class="line-title">email</p>
            <p class="profile-data">{{email}}</p>
        </div>
        <div class="line-info">
            <p class="line-title">login</p>
            <p class="profile-data">{{login}}</p>
        </div>
        <div class="line-info">
            <p class="line-title">name</p>
            <p class="profile-data">{{name}}</p>
        </div>
        <div class="line-info">
            <p class="line-title">last name</p>
            <p class="profile-data">{{lastName}}</p>
        </div>
        <div class="line-info">
            <p class="line-title">phone</p>
            <p class="profile-data">{{phone}}</p>
        </div>
    </div>
</div>

<div class="editing-link_buttons">
    <a href="edit_profile.html" class="edit_link">edit profile</a>
    <a href="edit_password.html" class="edit_link">edit password</a>
</div>
